CAMUltrasonico.json
[
    {
        "id": "f39235840e567d75",
        "type": "tab",
        "label": "CAMUltrasonico",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "063ce034257fd1f1",
        "type": "mqtt in",
        "z": "f39235840e567d75",
        "name": "",
        "topic": "IoT/mqtt/CarritoObjects",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "dbb2841f278f706f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 680,
        "wires": [
            [
                "471c802cade49471"
            ]
        ]
    },
    {
        "id": "471c802cade49471",
        "type": "json",
        "z": "f39235840e567d75",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 550,
        "y": 680,
        "wires": [
            [
                "ca68f617ac865178"
            ]
        ]
    },
    {
        "id": "ca68f617ac865178",
        "type": "function",
        "z": "f39235840e567d75",
        "name": "Distancia",
        "func": "msg.payload=msg.payload.dist;\nmsg.topic=\"Distancia\"\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 680,
        "wires": [
            [
                "b56d1a652b898ecf",
                "8e20024de1bbb75a",
                "bcd7c8cfd2820e85"
            ]
        ]
    },
    {
        "id": "b56d1a652b898ecf",
        "type": "ui_gauge",
        "z": "f39235840e567d75",
        "name": "Distancia",
        "group": "614492e68c62c755",
        "order": 5,
        "width": "10",
        "height": "8",
        "gtype": "gage",
        "title": "Distancia:",
        "label": " cm",
        "format": "{{value}}",
        "min": 0,
        "max": "400",
        "colors": [
            "#ef2929",
            "#e6e600",
            "#8ae234"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "responsive-gauge",
        "x": 950,
        "y": 680,
        "wires": []
    },
    {
        "id": "8e20024de1bbb75a",
        "type": "ui_chart",
        "z": "f39235840e567d75",
        "name": "Historico Distancia",
        "group": "614492e68c62c755",
        "order": 6,
        "width": "10",
        "height": "8",
        "label": "Historico Distancia",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "responsive-chart",
        "x": 980,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "cd649b54d453a399",
        "type": "ui_template",
        "z": "f39235840e567d75",
        "group": "614492e68c62c755",
        "name": "ESP32-CAM",
        "order": 2,
        "width": "0",
        "height": "0",
        "format": "\n  <div style=\"display: flex; justify-content: center;\">\n    <iframe id=\"Video\" title=\"Video\" class=\"responsive-camera\" \n    src=\"http://192.168.1.149:81/stream\">\n    </iframe>   \n  </div>\n\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 260,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "bcd7c8cfd2820e85",
        "type": "http request",
        "z": "f39235840e567d75",
        "name": "",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "http://192.168.1.149/capture",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 960,
        "y": 860,
        "wires": [
            [
                "82533ad6aab895d4"
            ]
        ]
    },
    {
        "id": "82533ad6aab895d4",
        "type": "file",
        "z": "f39235840e567d75",
        "name": "",
        "filename": "/home/gaby/Documents/Photos/fotoesp32CAM.jpg",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1300,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "725a458f657feb61",
        "type": "function",
        "z": "f39235840e567d75",
        "name": "function 8",
        "func": "msg.payload=\n{\n    \"chatId\": 6624720207,\n    \"type\":\"photo\",\n    \"content\": msg.payload\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 1040,
        "wires": [
            [
                "66af05ae42c217c6",
                "ccf9fd19e0cfa298"
            ]
        ]
    },
    {
        "id": "66af05ae42c217c6",
        "type": "debug",
        "z": "f39235840e567d75",
        "name": "debug 20",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 1180,
        "wires": []
    },
    {
        "id": "ccf9fd19e0cfa298",
        "type": "telegram sender",
        "z": "f39235840e567d75",
        "name": "",
        "bot": "08ce76143b1dad80",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1090,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "2efe622f33fc6c08",
        "type": "watch",
        "z": "f39235840e567d75",
        "name": "",
        "files": "/home/gaby/Documents/Photos/fotoesp32CAM.jpg",
        "recursive": "",
        "x": 390,
        "y": 1040,
        "wires": [
            [
                "725a458f657feb61"
            ]
        ]
    },
    {
        "id": "7fdca5a196eb320e",
        "type": "comment",
        "z": "f39235840e567d75",
        "name": "Se lee la foto y seenvia a telegram",
        "info": "",
        "x": 280,
        "y": 980,
        "wires": []
    },
    {
        "id": "1b2d5e403309ed79",
        "type": "comment",
        "z": "f39235840e567d75",
        "name": "Se detecta la distancia y se toma la foto",
        "info": "",
        "x": 280,
        "y": 560,
        "wires": []
    },
    {
        "id": "8c80628aef8892a3",
        "type": "ui_slider",
        "z": "f39235840e567d75",
        "name": "Servo Control",
        "label": "Movimiento camara:",
        "tooltip": "",
        "group": "614492e68c62c755",
        "order": 4,
        "width": "5",
        "height": "2",
        "passthru": true,
        "outs": "all",
        "topic": "",
        "topicType": "str",
        "min": "0",
        "max": "20",
        "step": "0.5",
        "className": "responsive-slider",
        "x": 280,
        "y": 780,
        "wires": [
            [
                "9d0a4cc9159c06d8"
            ]
        ]
    },
    {
        "id": "9d0a4cc9159c06d8",
        "type": "rpi-gpio out",
        "z": "f39235840e567d75",
        "name": "Servo Output",
        "pin": "4",
        "set": false,
        "level": "0",
        "freq": "50",
        "out": "pwm",
        "bcm": true,
        "x": 550,
        "y": 780,
        "wires": []
    },
    {
        "id": "c974802ff57316a7",
        "type": "function",
        "z": "f39235840e567d75",
        "name": "Process Joystick Input",
        "func": "let vrx = msg.payload.vector.x;\nlet vry = msg.payload.vector.y;\n\nlet in1 = 0, in2 = 0, in3 = 0, in4 = 0;\n\nconst threshold = 0.3;\nconst speed = 25; //valor para controlar la velocidad\n\nif (vrx > threshold) { // Move right ()\n    in1 = 1; in2 = 0; in3 = 0; in4 = 1;\n} else if (vrx < -threshold) { // Move left ()\n    in1 = 0; in2 = 1; in3 = 1; in4 = 0;\n}  if (vry > threshold) { // Move forward ()\n    in1 = 1; in2 = 0; in3 = 1; in4 = 0;\n} else if (vry < -threshold) { // Move backward ()\n    in1 = 0; in2 = 1; in3 = 0; in4 = 1;\n}\n\nlet msg1 = { \"payload\": in1 };\nlet msg2 = { \"payload\": in2 };\nlet msg3 = { \"payload\": in3 };\nlet msg4 = { \"payload\": in4 };\nlet msg5 = { \"payload\": speed };\nlet msg6 = { \"payload\": speed };\n\nreturn [msg1, msg2, msg3, msg4, msg5, msg6];",
        "outputs": 6,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 320,
        "wires": [
            [
                "9d680d91c6493ce6",
                "1e9e878e69a33675"
            ],
            [
                "e151306e1d7e9145",
                "47b947ef9a29da19"
            ],
            [
                "29289e0eaf75b757",
                "2e168afd2f6c2bf0"
            ],
            [
                "b31601ebc9a98832",
                "79a16e67e2a76325"
            ],
            [
                "2203e7e6561b5f1e"
            ],
            [
                "d1787ab84bb7a01b"
            ]
        ]
    },
    {
        "id": "1e9e878e69a33675",
        "type": "rpi-gpio out",
        "z": "f39235840e567d75",
        "name": "IN1",
        "pin": "22",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 800,
        "y": 280,
        "wires": []
    },
    {
        "id": "e151306e1d7e9145",
        "type": "rpi-gpio out",
        "z": "f39235840e567d75",
        "name": "IN2",
        "pin": "23",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 790,
        "y": 320,
        "wires": []
    },
    {
        "id": "29289e0eaf75b757",
        "type": "rpi-gpio out",
        "z": "f39235840e567d75",
        "name": "IN3",
        "pin": "13",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 800,
        "y": 360,
        "wires": []
    },
    {
        "id": "b31601ebc9a98832",
        "type": "rpi-gpio out",
        "z": "f39235840e567d75",
        "name": "IN4",
        "pin": "19",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 800,
        "y": 400,
        "wires": []
    },
    {
        "id": "2203e7e6561b5f1e",
        "type": "rpi-gpio out",
        "z": "f39235840e567d75",
        "name": "ENA",
        "pin": "17",
        "set": true,
        "freq": "",
        "out": "pwm",
        "bcm": true,
        "x": 810,
        "y": 220,
        "wires": []
    },
    {
        "id": "d1787ab84bb7a01b",
        "type": "rpi-gpio out",
        "z": "f39235840e567d75",
        "name": "ENB",
        "pin": "26",
        "set": true,
        "freq": "",
        "out": "pwm",
        "bcm": true,
        "x": 830,
        "y": 460,
        "wires": []
    },
    {
        "id": "03a89b6ed7af66eb",
        "type": "ui_joystick",
        "z": "f39235840e567d75",
        "name": "Joystick",
        "group": "614492e68c62c755",
        "order": 3,
        "width": "3",
        "height": "3",
        "trigger": "all",
        "timeInterval": 0,
        "useThemeColor": false,
        "color": "#e01b24",
        "threshold": "0.2",
        "directions": "all",
        "shape": "circle",
        "centerAtRelease": true,
        "x": 210,
        "y": 320,
        "wires": [
            [
                "c974802ff57316a7",
                "621db55da0c79f17"
            ]
        ]
    },
    {
        "id": "9d680d91c6493ce6",
        "type": "debug",
        "z": "f39235840e567d75",
        "name": "IN1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 280,
        "wires": []
    },
    {
        "id": "47b947ef9a29da19",
        "type": "debug",
        "z": "f39235840e567d75",
        "name": "IN2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 320,
        "wires": []
    },
    {
        "id": "2e168afd2f6c2bf0",
        "type": "debug",
        "z": "f39235840e567d75",
        "name": "IN3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 360,
        "wires": []
    },
    {
        "id": "79a16e67e2a76325",
        "type": "debug",
        "z": "f39235840e567d75",
        "name": "IN4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 400,
        "wires": []
    },
    {
        "id": "621db55da0c79f17",
        "type": "debug",
        "z": "f39235840e567d75",
        "name": "Joystick",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 260,
        "wires": []
    },
    {
        "id": "37091eb15cf04a41",
        "type": "comment",
        "z": "f39235840e567d75",
        "name": "Se controla el movimiento del carrito por medio de un Joystick",
        "info": "",
        "x": 340,
        "y": 200,
        "wires": []
    },
    {
        "id": "d57cd9fa02429932",
        "type": "ui_template",
        "z": "f39235840e567d75",
        "group": "614492e68c62c755",
        "name": "",
        "order": 5,
        "width": 0,
        "height": 0,
        "format": "<template>\n  <style>\n    .responsive-camera {\n      width: 100%;\n      max-width: 600px;\n      height: auto;\n    }\n\n    .responsive-slider,\n    .responsive-joystick,\n    .responsive-chart,\n    .responsive-gauge {\n      width: 100%;\n      height: auto;\n      max-width: 600px;\n    }\n\n    @media (max-width: 600px) {\n\n      .responsive-camera,\n      .responsive-slider,\n      .responsive-joystick,\n      .responsive-chart,\n      .responsive-gauge {\n        width: 100%;\n      }\n    }\n  </style>\n\n  <div style=\"display: flex; justify-content: center;\">\n    <div id=\"03a89b6ed7af66eb\" class=\"responsive-joystick\">\n    </div>\n    <input type=\"range\" id=\"servoSlider\" class=\"responsive-slider\">\n    <div id=\"chart\" class=\"responsive-chart\"></div>\n    <div id=\"gauge\" class=\"responsive-gauge\"></div>\n  </div>\n</template>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 420,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "dbb2841f278f706f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "614492e68c62c755",
        "type": "ui_group",
        "name": "CAM:",
        "tab": "49292e14db4b72ee",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "08ce76143b1dad80",
        "type": "telegram bot",
        "botname": "IoTEsp32C_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "testenvironment": false,
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "49292e14db4b72ee",
        "type": "ui_tab",
        "name": "CAM+Ultrasonico",
        "icon": "dashboard",
        "order": 16,
        "disabled": false,
        "hidden": false
    }
]